.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  background: #fbdcdc;
  padding: 20px;
  border-radius: 10px;
}

.res-card-container {
  background-color: #ffffff;
  width: 240px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  cursor: pointer;
}

.res-card-container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid brown;
  background-color: rgb(200, 237, 188);
}

.res-logo {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.res-card-container h2 {
  font-size: 20px;
  margin: 10px 0 5px;
}

.res-card-container p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.res-card-container span {
  font-size: 14px;
  color: #222;
}

.res-card-container h4 {
  margin-top: 10px;
}
