.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #f4efe8;
  color: #333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  margin-bottom: -40px;
}

.error-content {
  max-width: 600px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  height: 345px;
}

.error-code {
  font-size: 6rem;
  font-weight: 800;
  color: #ff6347;
  margin: 0;
  letter-spacing: -3px;
}

.error-message {
  font-size: 2rem;
  margin: 1rem 0;
  color: #333;
}

.error-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
  line-height: 1.6;
}

.home-button {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: #ff6347;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}

.home-button:hover {
  background: #e5533d;
}

@media (max-width: 600px) {
  .error-code {
    font-size: 4.5rem;
  }
  .error-message {
    font-size: 1.5rem;
  }
  .error-description {
    font-size: 1rem;
  }
}
